#container{
    display: flex;
    height: 500px;
    width: 500px;
    margin: auto;
    flex-grow: 1;
}

h1{
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
    padding-bottom: 10%;
}

.square{
    border: 1px dotted black;
}


.black{
    background-color:black;
}

.header{
    display:flex ;
    width: 50%;
    margin: auto;
}

.selections{
    display:flex;

}

